[submodule "AelUI_Options/libs/Ace3"]
	path = AelUI_Options/libs/Ace3
	url = git@github.com:WoWUIDev/Ace3.git
[submodule "AelUI/core/libs/oUF"]
	path = AelUI/libs/oUF
	url = git@github.com:oUF-wow/oUF.git
